[submodule "resources/[utopia_exclusives]/utopia-gov-services"]
	path = resources/[utopia_exclusives]/utopia-gov-services
	url = git@bitbucket.org:pjsykes/utopia-gov-services.git
[submodule "resources/[utopia_exclusives]/utopia-flp-loadscreen"]
	path = resources/[utopia_exclusives]/utopia-flp-loadscreen
	url = git@bitbucket.org:pjsykes/utopia-flp-loadscreen.git
[submodule "es_extended"]
	path = es_extended
	url = git@github.com:showmen-media/FXServer-ESX.git
[submodule "resources/[misc]/oxmysql"]
	path = resources/[misc]/oxmysql
	url = git@github.com:showmen-media/FXServer-oxmysql.git
[submodule "resources/[misc]/mysql-async"]
	path = resources/[misc]/mysql-async
	url = git@github.com:showmen-media/FXServer-MySQL-Async.git
